body {
    font-family: "Roboto", sans-serif;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
header {
    height: 30px;
    width: 70%;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    left: 67px;
    justify-content: space-evenly;
    display: flex;
    align-items: normal;
}

.fa-arrow {
    color: black;
}

h1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.menu-item {
    font-size: 18px;
    margin:auto;
    justify-content: space-between;
    position: relative;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 15px 15px 25px 25px;
    display: flex;
    padding: 2rem;
    transition: transform 1s;
    cursor:pointer;
}

.menu-item:hover{
    transform: scale(1.1);
}

.container{
    display: flex;
    justify-content: space-between;
    
}

.dish{
    font-size: 22px;
}

.choose i {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -45px;
    margin-right: 25px;
}
p {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.btn:hover {
    transform: scale(1.5);
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
}

.box {
    width: 10px;
    height: 10px;
    transition: transform 330ms ease-in-out;
}

h2 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.aplate {
    margin: 10px;
    width: 349px;
    height: 100%;

    box-sizing: border-box;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 15px 15px 25px 25px;
    display: flex;
    flex-direction: column;
    font-size: 7px;
}
.first img{
    margin: 10px;
    width: 349px;
    height: 100%;
}

.entrees {
    font-size: 18px;
    margin: 2rem;
    padding: 29px;
    border-radius: 20px;
    height: 30px;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 5px 5px 10px lightgrey;
}

.entrees i {
    margin: 1.2rem;
    color: #777;
}
.choose i {
    align-items: flex-end;
}

footer {
    background-color: rgb(46, 45, 45);
    color: whitesmoke;
    padding: 10px;
    font-size: 18px;
}

footer ul {
    color: whitesmoke;
}
