$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;
$text-color:white;
$light-color:rgb(246,246,246);
$font-fmaily: Roboto;


 body{
   position:relative;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.search-box{
    display: flex;
    flex-direction:column;
    align-items: center;
    
    
}
.explore {
    background:$primary-color ;
direction: 50px;
color:$text-color;
border-radius:300px;
border: $secondary-color;
width: 200px;
height: 200;
padding: 10px;
display: flex;
flex-direction:column;
align-items: center;

}

header img{
max-width: 10rem; 

}

.search-box {
    background-color:$light-color;
   height: 240px;
   
}
h1{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    
}



.circle{
    list-style: none;
    background-color:$primary-color;
    padding-left: 10px;
    height: 20px;
    width: 20px;
    border-radius:50%;
    object-fit: cover;
    position: relative;
    left: -50px;
    top: 20px;
}

.how {
   font-size: 20px;
   background-color: $light-color;
   margin: 50px;
   padding: 50px;
   
   

}
.choose i{
    align-items:flex-end;
}

.rest{
    background:$light-color ;
    height: 988px; 
    padding: 2px;
    object-fit: cover;
}

.plate {
    background-color: white;
    margin: 12px;
width: 355px;
padding: 2px;
    border-radius: 25px 25px 15px 15px;
    display: flex;
    flex-direction: column;
    font-size: 7px;
    
    
   
}

.plate img {
    width: 354px;
    height: 223px;
    border-radius: 25px 25px 15px 15px;
    
    padding: 4px;
}

.plate p {
    font-size: 20px;
    margin: 2px;
    
}

footer{
background-color: rgb(46, 45, 45);
color: whitesmoke;
padding: 10px;
}

footer ul{
color: whitesmoke;

}

h3{
    font-family: shrikhand;
}




